
@{
    ViewBag.Title = "Table";
}

<div class="group-card">
    <table>
        <tr>
            <th>
                Group A
            </th>
        </tr>
        <tr>
            <td>Sweden</td>
            <td>3</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>12-0</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Denmark</td>
            <td>3</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>6-4</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Finland</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2-7</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Norway</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>0-9</td>
            <td>0</td>
        </tr>
    </table>
    <h5>Matches</h5>
    <ul>
        <li>Sweden - Denmark 6-0</li>
        <li>Sweden - Denmark 6-0</li>
        <li>Sweden - Denmark 6-0</li>
        <li>Sweden - Denmark 6-0</li>
        <li>Sweden - Denmark 6-0</li>
        <li>Sweden - Denmark 6-0</li>
    </ul>
</div>
<div class="group-card">
    <table>
        <tr>
            <th>
                Group A
            </th>
        </tr>
        <tr>
            <td>Sweden</td>
            <td>3</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>12-0</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Denmark</td>
            <td>3</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>6-4</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Finland</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2-7</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Norway</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>0-9</td>
            <td>0</td>
        </tr>
    </table>
</div>
<div class="group-card">
    <table>
        <tr>
            <th>
                Group A
            </th>
        </tr>
        <tr>
            <td>Sweden</td>
            <td>3</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>12-0</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Denmark</td>
            <td>3</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>6-4</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Finland</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2-7</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Norway</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>0-9</td>
            <td>0</td>
        </tr>
    </table>
</div>
<div class="group-card">
    <table>
        <tr>
            <th>
                Group A
            </th>
        </tr>
        <tr>
            <td>Sweden</td>
            <td>3</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>12-0</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Denmark</td>
            <td>3</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>6-4</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Finland</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2-7</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Norway</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>0-9</td>
            <td>0</td>
        </tr>
    </table>
</div>
<div class="group-card">
    <table>
        <tr>
            <th>
                Group A
            </th>
        </tr>
        <tr>
            <td>Sweden</td>
            <td>3</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>12-0</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Denmark</td>
            <td>3</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>6-4</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Finland</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2-7</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Norway</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>0-9</td>
            <td>0</td>
        </tr>
    </table>
</div>
<div class="group-card">
    <table>
        <tr>
            <th>
                Group A
            </th>
        </tr>
        <tr>
            <td>Sweden</td>
            <td>3</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>12-0</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Denmark</td>
            <td>3</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>6-4</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Finland</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2-7</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Norway</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>0-9</td>
            <td>0</td>
        </tr>
    </table>
</div>
<div class="group-card">
    <table>
        <tr>
            <th>
                Group A
            </th>
        </tr>
        <tr>
            <td>Sweden</td>
            <td>3</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>12-0</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Denmark</td>
            <td>3</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>6-4</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Finland</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2-7</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Norway</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>0-9</td>
            <td>0</td>
        </tr>
    </table>
</div>
<div class="group-card">
    <table>
        <tr>
            <th>
                Group A
            </th>
        </tr>
        <tr>
            <td>Sweden</td>
            <td>3</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>12-0</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Denmark</td>
            <td>3</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>6-4</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Finland</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2-7</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Norway</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>0-9</td>
            <td>0</td>
        </tr>
    </table>
</div>

