<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Tournament</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="header">
        <nav>
            <a href="#" class="active">Tournament results</a>
            <a href="#">My bets</a>
            <a href="#">Ranking</a>
            <a href="#">Admin</a>
        </nav>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">

    </div>
</body>
</html>
