body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header nav {
    background-color: #00BFFF;
    color: white;
    margin: 0;
    padding: 10px 0px 10px 0px;
}
#header nav a {
    color: white;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}
    #header nav a:hover {
        color: #00BFFF;
        background-color: white;
        text-decoration: none;
    }
    #header nav a.active {
        background-color: #1E90FF
}
.group-card {
    float: left;​
    margin: 20px;
    padding: 20px;
    }

    .group-card ul {
        list-style: none;
        padding-left: 0;
        margin: 0 0 0 10px;
    }
    .group-card h5 {
        margin: 10px;   
    }
 
