.Menu nav {
    background-color: white;
    color: #4682B4;
    margin: 0;
    padding: 10px 0px 10px 0px;
}
.Menu nav a {
    color: #4682B4;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}
.Menu nav a.active {
        color: #2F4F4F;
}
.Menu nav a:hover {
        color: white;
        background-color: #4682B4;
        text-decoration: none;
}
.Menu hr {
  border-color: #4682B4;
}
